<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="book"></ion-icon>
        Curiosidades
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
<h1 align="center">O que significa CEP?</h1>
<br>
<p>O CEP (Código de Endereçamento Postal) é um sistema de códigos que visa racionalizar o processo de 
  encaminhamento e entrega de correspondências através da divisão do país em regiões postais. 
  O Código de Endereçamento Postal brasileiro foi criado em 1972 e tinha apenas cinco dígitos. 
  Atualmente, o CEP é composto por oito dígitos, cinco de um lado e três de outro.</p>
  <p>Cada algarismo do CEP possui um significado. Da esquerda para a direita, os números indicam a região, 
    sub-região, setor, sub-setor, divisor de sub-setor e identificadores de distribuição 
    (três últimos algarismos). O Brasil  é dividido em dez regiões postais, que compõem o primeiro dos 
    números do CEP:</p>
    <ul>
      <li>Região 0 - Grande São Paulo;</li>
      <li>Região 1 - Interior de São Paulo;</li>
      <li>Região 2 - Rio de Janeiro e Espírito Santo;</li>
      <li>Região 3 - Minas Gerais;</li>
      <li>Região 4 - Bahia e Sergipe;</li>
      <li>Região 5 - Pernambuco, Alagoas, Paraíba e Rio Grande do Norte;</li>
      <li>Região 6 - Ceará, Piauí, Maranhão, Pará, Amazonas, Acre, Amapá e Roraima;</li>
      <li>Região 7 - Distrito Federal, Goiás, Tocantins, Mato Grosso, Mato Grosso do Sul e Rondônia;</li>
      <li>Região 8 - Paraná e Santa Catarina;</li>
      <li>Região 9 - Rio Grande do Sul.</li>
    </ul>
    <p>
      No caso do CEP 13165-000, por exemplo, podemos perceber que o código se refere a uma localidade no 
      interior de São Paulo, já que o primeiro algarismo do mesmo começa com o número 1. Se analisarmos 
      cada um dos outros algarismos segundo os critérios estabelecidos, chegaremos à conclusão de que o 
      CEP se refere à cidade de Engenheiro Coelho. Os três últimos dígitos do código se referem à 
      identificação individual de localidades, logradouros, códigos especiais e unidades do correio.
    </p>
    <a rel="stylesheet" href="https://mundoeducacao.bol.uol.com.br/curiosidades/o-que-significam-os-numeros-cep.htm">Fonte: Mundo Eduação</a>
</ion-content>
