ion-content ion-toolbar {
  --background: translucent;
}

.corpo {
  background: #ffffcc;
}

h1 {
  font-weight: bold;
  font-size: 18px;
}

a {
  text-decoration: none;
  margin: 0px 15px 0px 15px;
}

p {
  text-indent: 30px;
  text-align: justify;
  margin: 0px 15px 0px 15px;
}

.postagem {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}