<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Consulte CEPs
    </ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content [fullscreen]="true" style="margin-top: 0;">
  <form align="center" #f="ngForm" (ngSubmit)="consultAddress(f)" *ngIf="!address.cep">
    <br>
    <div class="form-group">
    <ion-label class="control-label">Informe seu CEP:</ion-label><br>
    <div *ngIf="addressValue">
      <span>{{ msg }}</span>
    </div>
    <ion-input type="cep" id="cep" placeholder="50000000" maxlength="8" minlength="8" [ngModel]="form.cep" 
    name="cep" onkeypress="return event.charCode >= 48 && event.charCode <= 57"></ion-input>
    <ion-button ion-button icon-only type="submit"color="danger">
    <ion-icon name="search"></ion-icon>&nbsp;
      Consultar Endereço
    </ion-button>
    <br>
    <ion-button ion-button icon-only type="reset" color="danger" value="reset"(click)="reset()">
      <ion-icon name="trash"></ion-icon>&nbsp;
      Limpar Consulta
    </ion-button>
  </div>
  </form>
  <br>

  <ion-list *ngIf="!address.cep && !address.erro ">
    <ion-img class="center" src="assets/icon/aqui.png"></ion-img>
  </ion-list>
  
  <div #mapApp id="map" style="height: 40%;"></div>
  <ion-list *ngIf="address.cep">
    <ion-item *ngIf="mapErro">
      <ion-label style="color: red;">Mapa não encontrado!</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>CEP:</ion-label>
      <ion-input>{{ address.cep }}</ion-input>
      <ion-button type="reset" color="danger" value="reset" (click)="reset()">Voltar</ion-button>
    </ion-item>
    <ion-item *ngIf="address.logradouro">
      <ion-label>Logradouro: </ion-label>
      <ion-input>{{ address.logradouro }}</ion-input>
    </ion-item>
    <ion-item *ngIf="address.complemento">
      <ion-label>Complemento: </ion-label>
      <ion-input>{{ address.complemento }}</ion-input>
    </ion-item>
    <ion-item *ngIf="address.bairro">
      <ion-label>Bairro: </ion-label>
      <ion-input>{{ address.bairro }}</ion-input>
    </ion-item>
    <ion-item *ngIf="address.localidade">
      <ion-label>Cidade: </ion-label>
      <ion-input>{{ address.localidade }}</ion-input>
    </ion-item>
    <ion-item *ngIf="address.uf">
      <ion-label>UF: </ion-label>
      <ion-input>{{ address.uf }}</ion-input>
    </ion-item>
    <ion-item *ngIf="address.unidade">
      <ion-label>Unidade: </ion-label>
      <ion-input>{{ address.unidade }}</ion-input>
    </ion-item>
    <ion-item *ngIf="address.ibge">
      <ion-label>IBGE: </ion-label>
      <ion-input>{{ address.ibge }}</ion-input>
    </ion-item>
    <ion-item *ngIf="address.gia">
      <ion-label>GIA: </ion-label>
      <ion-input>{{ address.gia }}</ion-input>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="address.erro" align="center">
    <br>
    <ion-label class="erro">Não foi encontrado o endereço do CEP digitado!</ion-label>
    <ion-img class="nao" src="assets/icon/nao.png"></ion-img>
  </ion-list>

</ion-content> 
